/*item*/
.li-item {
  list-style: none;
  height: 36px;
  line-height: 36px;
  padding: 0 5px;
  border-bottom: 1px solid #ddd;
}

.li-item label {
  float: left;
  cursor: pointer;
}

.li-item label input {
  vertical-align: middle;
  margin-right: 6px;
  position: relative;
  top: -1px;
}

.li-item button {
  float: right;
  display: none;
  margin-top: 3px;
}

.li-item:before {
  content: initial;
}

.li-item:last-child {
  border-bottom: none;
}
